.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
}





.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.navbar_container{
  font-weight:bolder;
  color: #61dafb;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
}

.navbar_container,li{
  text-decoration: none;
  color: #61dafb;
  list-style-type: none;
}
hr{
  width: 83%;
}

